version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "0.0.0.0:5173:5173"
    environment:
      - VITE_API_URL=/api
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "0.0.0.0:5050:5050"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/proyectocv
      - PORT=5050
      - ADMIN_USER=admin
      - ADMIN_PASSWORD=admin123
      - JWT_SECRET=tu_secreto_jwt_super_seguro_aqui
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
